

<div class="container1" id="home">
	<div class="row text-center">

		<h4 class="head-main"> <i class="fa fa-desktop fa-2x"></i> Welcome Admin</h4>
		 <h6 class="head-sub-main"><i class="fa fa-desktop fa-2x"></i> Here You Will Be Able To Manage The Coupon System</h6>
		
		 
		
	</div>
</div>



<!-- Navigation -->
<nav class="navbar-inverse" role="navigation">
		<div class="container">
				<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
						
				</div>
				
				<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#home">Home</a>
					</li>
					<li><a href="#about">Craete Company</a>
					</li>                    
							 
					<li><a href="#work-sec">View Componies</a>
					</li>
					 <li><a href="#contact-sec">Create Customer</a>
					</li>
					<li><a href="#map-sec">View Customers</a>
					 </li>
					 <li><a href="http://localhost:8080/login.html">Log Out</a>
					 </li>
				</ul>
				</div>
			
		</div>
	
	</nav> 
	



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
				
<section class="color-white " id="about"  >
<div class="animated d slideInLeft" style="background-color: rgb(228, 175, 107); width:100vw;
		box-shadow: 0 0 12px rgb(0, 0, 0) , 0 0 12px rgb(0, 0, 0);">
		 <h1 class="admin-h1"> Create A New Company </h1>
 </div>
<br>
<br>
<app-create-company>

</app-create-company>
<br>
<br>
<br>
<br> 
	
</section>

 

 
<section class="color-white " id="work-sec"  >
<div class="animated d slideInLeft" style="background-color: rgb(228, 175, 107); width:100vw;
		  box-shadow: 0 0 12px rgb(8, 8, 8) , 0 0 12px rgb(0, 0, 0);">
	<h1 class="admin-h1"> Exist Componies </h1>
</div>

<br>
<br>		
<app-get-all-componies>
	  
</app-get-all-componies>

<br>
<br>
<br>
<br>	

</section>
 

<section class="color-light " id="contact-sec"  >
<div class="animated d slideInLeft" style="background-color: rgb(228, 175, 107); width:100vw;
     box-shadow: 0 0 12px rgb(0, 0, 0) , 0 0 12px rgb(0, 0, 0);">
	<h1 class="admin-h1"> Create A new Customer </h1>
</div>
<br>
<br>		
<app-create-customer>

</app-create-customer>

<br>
<br>
<br>
<br>

</section>



 <section class="color-light " id="map-sec"  >
<div class="animated d slideInLeft" style="background-color: rgb(228, 175, 107); width:100vw;
	  box-shadow: 0 0 12px rgb(0, 0, 0) , 0 0 12px rgb(0, 0, 0);">
	  <h1 class="admin-h1"> Exist Customers </h1>
</div>
	
<br>
<br>
<app-get-all-customers>

</app-get-all-customers>
<br>
<br>
<br>
<br>
	
</section>



<div  class="for-full-back "  id="footer" >
				 
Alex Nekrasov Coupon System 2018 | All Right Reserved
	 
</div>
