<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     
     
     
      <a class="navbar-brand" href="#">About</a>
    </div>
    
    
    
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      
      
      <li><a routerLink= "/createcoupon">Create Coupon</a></li>
          
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">View Coupons</a>
        <ul class="dropdown-menu">
          <li><a routerLink = "/getallcoupons">View All Coupons</a></li>
          <li><a routerLink="/getbytype">View Coupons By Type</a></li>
          <li><a routerLink="/getbydate">View Coupons By Date</a></li>
          <li><a routerLink="/getbyprice">View Coupons By Price</a></li>
        </ul>
      </li>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Company Coupons</a>
          <ul class="dropdown-menu">
              <li><a routerLink = "/getcompanycoupons">View All Coupons</a></li>
              <li><a routerLink = "/getcompanycouponsbytype">View Coupons By Type</a></li>
              <li><a routerLink = "/getcompanycouponsbydate">View Coupons By Date</a></li>
              <li><a routerLink = "/getcompanycouponsbyprice">View Coupons By Price</a></li>
              
          </ul>
        </li>
        <li><a href= "http://localhost:8080/login.html">Log Out</a></li>
    </ul>
  </div>
</div>





</nav>


<div class="intro">

  <h1>  Company Management System  </h1>
  <h3>Here You Will Be Able To Create A New Coupons</h3>
  <h3>Edit And Remove Exist Coupons</h3>
  <h3>Search For Any Exist Coupon </h3>
  
  </div>




<router-outlet></router-outlet>

