<table style="margin-right: 10px" class="table table-striped table-bordered">
  <thead>
      <tr>
          <th>Id</th>
          <th>Company Name </th>
          <th>Company Password</th>
          <th>Company Email</th>
     
      </tr>
  </thead>
<tbody>
   <tr *ngFor="let c of componies">
     <td> {{c.id}} </td>
     <td> {{c.companyName}} </td>
     <td> {{c.password}} </td>
     <td> {{c.email}} </td>
   
     <td> <button (click)="updateCompany(c)"   class="btn1 btn-primary a-btn-slide-text">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      <span><strong>Edit</strong></span>  </button>   </td>
    
      <td> <button (click)="removeCompany(c)"  class="btn2 btn-primary a-btn-slide-text">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
         <span><strong>Delete</strong></span> </button>  </td>
      
   
   
   
   
   
   
   
    </tr>

  </tbody>
</table>

 
 
          
    



