<form class="form-horizontal">
  <div class="form-group">
    <label for="startprice" class="control-label col-sm-2">Enter Coupon Start Price : </label>
    <div class="col-sm-2">
     <input class="form-control" placeholder="Coupon Start Price" name = "startprice"
             type="number" id="startprice" [(ngModel)] = "startprice"/>
  </div>
  </div>
  
  <div class="form-group">
    <label for="maxprice" class="control-label col-sm-2">Enter Coupon Max Price : </label>
    <div class="col-sm-2">
     <input class="form-control" placeholder="Coupon Max Price" name = "maxprice"
             type="number" id="maxprice" [(ngModel)] = "maxprice"/>
  </div>
  </div>
  
  </form>
  
  <br>
  <br>
  <div id="button-container">
    <div id="button" class="green" (click)="getCompanyCouponsByPrice()">
      <div id="order"><div id="order-line"></div><div id="order-line"></div></div>
      <p>Get Coupons</p>
    </div>
  </div>


<table style="margin-right: 10px" class="table table-striped table-bordered">
  <thead>
      <tr>
          <th>Id</th>
          <th>Coupon Title</th>
          <th>Coupon Start Date</th>
          <th>Coupon End Date</th>
          <th>Coupon Amount</th>
          <th>Coupon Type </th>
          <th>Coupon Message </th>
          <th>Coupon Price </th>
          <th>Coupon Image </th>
      </tr>
  </thead>
<tbody>
   <tr *ngFor="let c of coupons">
     <td> {{c.id}} </td>
     <td> {{c.title}} </td>
     <td> {{c.startDate | date:'yyyy-MM-dd'}} </td>
     <td> {{c.endDate | date:'yyyy-MM-dd'}} </td>
     <td> {{c.amount}} </td>
     <td> {{c.type}} </td>
     <td> {{c.message}} </td>
     <td> {{c.price}} </td>
     <td> <img src="{{c.image}}" width="100px" height="100px"/> </td>
     <td> <button (click)="updateCoupon(c)"   class="btn1 btn-primary a-btn-slide-text">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      <span><strong>Edit</strong></span>   </button>  </td>
    
      <td> <button (click)="removeCoupon(c)"  class="btn2 btn-primary a-btn-slide-text">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
         <span><strong>Delete</strong></span> </button>  </td>
   
   
    </tr>

  </tbody>
</table>

          
    



